[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
python-dotenv = "*"
langchain-community = "*"
langchain-experimental = "*"
langchain-openai = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.12"
